h1 {color: purple;
font: Times New Roman;
text-align: center;
font-weight: bold;}

#lol {background-color: #FFBCF1;
color:#8C378C;
font: Times New Roman;}


#a {color: #8C378C ;
font: Times New Roman;
background-color: #FFC2FF;
}
 
 #b {color: #8C378C;
 background-color: #FE94E8;
 font: Times New Roman;}
 